.buttonContainer {
	display: inline-block;

	&:active {
		--ck-current-drop-shadow-opacity-multiplier: 0;
	}

	&[aria-disabled] {
		pointer-events: none;
	}
}

.button {
	--ck-current-highlight-color: var(--ck-highlight-color);
	--ck-current-highlight-blend-mode: var(--ck-highlight-blend-mode);
	--ck-current-shadow-color: var(--ck-shadow-color);
	--ck-current-shadow-blend-mode: var(--ck-shadow-blend-mode);

	text-shadow: 0 var(--ck-block-size) 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;

	&:active {
		--ck-current-highlight-color: var(--ck-shadow-color);
		--ck-current-highlight-blend-mode: var(--ck-shadow-blend-mode);
		--ck-current-shadow-color: var(--ck-highlight-color);
		--ck-current-shadow-blend-mode: var(--ck-highlight-blend-mode);
	}
}

.sm {
	line-height: var(--ck-text-line-height-sm);
}
