.buttonContainer {
	display: inline-block;

	&:active {
		--chonkit-current-drop-shadow-opacity-multiplier: 0;
	}
}

.button {
	--chonkit-current-highlight-color: var(--chonkit-highlight-color);
	--chonkit-current-highlight-blend-mode: var(--chonkit-highlight-blend-mode);
	--chonkit-current-shadow-color: var(--chonkit-shadow-color);
	--chonkit-current-shadow-blend-mode: var(--chonkit-shadow-blend-mode);

	background-color: var(--chonkit-brand-primary);
	color: var(--chonkit-brand-primary-foreground);
	padding: snap(6px) snap(16px);
	text-shadow: 0 var(--chonkit-block-size) 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;

	&:hover {
		background-color: var(--chonkit-brand-primary-hover);
	}

	&:active {
		--chonkit-current-highlight-color: var(--chonkit-shadow-color);
		--chonkit-current-highlight-blend-mode: var(
			--chonkit-shadow-blend-mode
		);
		--chonkit-current-shadow-color: var(--chonkit-highlight-color);
		--chonkit-current-shadow-blend-mode: var(
			--chonkit-highlight-blend-mode
		);
	}
}
