.container {
	/* reset variables so that they are not inherited */
	--ck-background-color: transparent;
	--ck-background-color-hover: var(--ck-background-color);
	--ck-background-color-active: var(--ck-background-color);
	--ck-background-color-focus: var(--ck-background-color);
	--ck-background-color-disabled: var(--ck-background-color);
	--ck-color: inherit;
	--ck-color-hover: var(--ck-color);
	--ck-color-active: var(--ck-color);
	--ck-color-focus: var(--ck-color);
	--ck-color-disabled: var(--ck-color);
	--ck-depth: 0;
	--ck-depth-hover: var(--ck-depth);
	--ck-depth-active: var(--ck-depth);
	--ck-depth-disabled: var(--ck-depth);
	--ck-border-color: transparent;
	--ck-border-color-hover: var(--ck-border-color);
	--ck-border-color-active: var(--ck-border-color);
	--ck-border-color-focus: var(--ck-border-color);
	--ck-border-color-disabled: var(--ck-border-color);
	--ck-inner-border-color: transparent;
	--ck-inner-border-color-hover: var(--ck-inner-border-color);
	--ck-inner-border-color-active: var(--ck-inner-border-color);
	--ck-inner-border-color-focus: var(--ck-inner-border-color);
	--ck-inner-border-color-disabled: var(--ck-inner-border-color);

	position: relative;
	display: block;
	transform-origin: top left;

	&:hover {
		> .inner {
			background-color: var(
				--ck-background-color-hover,
				var(--ck-background-color)
			);
			color: var(--ck-color-hover, var(--ck-color));
			top: calc(var(--ck-depth-hover, 0) * -1);
		}

		> .inner > .fabricatedBorder {
			background-color: var(
				--ck-border-color-hover,
				var(--ck-border-color)
			);
		}

		> .inner > .fabricatedInnerBorder {
			background-color: var(
				--ck-inner-border-color-hover,
				var(--ck-inner-border-color)
			);
		}
	}

	&:active {
		> .inner {
			background-color: var(
				--ck-background-color-active,
				var(--ck-background-color)
			);
			color: var(--ck-color-active, var(--ck-color));
			top: calc(var(--ck-depth-active, 0) * -1);
		}

		> .inner > .fabricatedBorder {
			background-color: var(
				--ck-border-color-active,
				var(--ck-border-color)
			);
		}

		> .inner > .fabricatedInnerBorder {
			background-color: var(
				--ck-inner-border-color-active,
				var(--ck-inner-border-color)
			);
		}
	}

	&:global(.geometry-unknown) {
		visibility: hidden;
	}

	&:global(.geometry-unknown-show) {
		visibility: visible;

		> .fabricatedBorder, > .fabricatedInnerBorder > .shadow > .highlight {
			visibility: hidden;
		}
	}
}

.inner {
	display: inherit;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	flex: 1 1 auto;
	z-index: 5;
	position: relative;
	background-color: var(--ck-background-color, transparent);
	color: var(--ck-color, inherit);
	top: calc(var(--ck-depth, 0) * -1);
}

.highlight {
	position: absolute;
	inset: 0;
	background: var(--ck-current-highlight-color);
	mix-blend-mode: var(--ck-current-highlight-blend-mode);
	pointer-events: none;
	z-index: 15;
}

.shadow {
	position: absolute;
	inset: 0;
	background: var(--ck-current-shadow-color);
	mix-blend-mode: var(--ck-current-shadow-blend-mode);
	pointer-events: none;
	z-index: 15;
}

.gradient {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: -1;
}

.embossment {
	z-index: 1;
}

.dropShadow {
	z-index: 3;
	position: absolute;
	background-size: 100% 100%;
	pointer-events: none;
}

.depth {
	position: absolute;
	inset: 0;
	top: calc(50% - var(--ck-depth, 0));
	background: var(--ck-depth-color);
	z-index: 4;
}

.fabricatedBorder {
	position: absolute;
	inset: 0;
	background: var(--ck-border-color);
	pointer-events: none;
	z-index: 10;
}

.fabricatedInnerBorder {
	position: absolute;
	inset: 0;
	background: var(--ck-inner-border-color);
	pointer-events: none;
	z-index: 9;
}
