.container {
	position: relative;
	display: block;
	transform-origin: top left;

	&:hover {
		.inner {
			background-color: var(
				--ck-background-color-hover,
				var(--ck-background-color)
			);
			color: var(--ck-color-hover, var(--ck-color));
		}

		.fabricatedBorder {
			background-color: var(
				--ck-border-color-hover,
				var(--ck-border-color)
			);
		}
	}

	&:active {
		.inner {
			background-color: var(
				--ck-background-color-active,
				var(--ck-background-color)
			);
			color: var(--ck-color-active, var(--ck-color));
		}

		.fabricatedBorder {
			background-color: var(
				--ck-border-color-active,
				var(--ck-border-color)
			);
		}
	}
}

.inner {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	flex: 1 1 auto;
	z-index: 5;
	position: relative;
	background-color: var(--ck-background-color, transparent);
	color: var(--ck-color, inherit);
}

.highlight {
	position: absolute;
	inset: 0;
	background: var(--ck-current-highlight-color);
	mix-blend-mode: var(--ck-current-highlight-blend-mode);
	pointer-events: none;
}

.shadow {
	position: absolute;
	inset: 0;
	background: var(--ck-current-shadow-color);
	mix-blend-mode: var(--ck-current-shadow-blend-mode);
	pointer-events: none;
}

.embossment {
	z-index: 1;
}

.dropShadow {
	z-index: 3;
	position: absolute;
	background-size: 100% 100%;
	pointer-events: none;
}

.fabricatedBorder {
	position: absolute;
	inset: 0;
	background: var(--ck-border-color);
	pointer-events: none;
}
