@import "./reset.css";
@import "./variables.css";

.chonkit-root {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	line-height: var(--ck-text-line-height);
	font-size: var(--ck-text-font-size);
	font-family: var(--ck-text-font-family);

	--ck-text-font-family: monospace;
	--ck-text-font-size: 16px;
	--ck-text-line-height: 16px;
	--ck-text-adjustment-top: 0;
	--ck-text-adjustment-left: 0;

	--ck-text-font-family-sm: monospace;
	--ck-text-font-size-sm: 16px;
	--ck-text-line-height-sm: 16px;
	--ck-text-adjustment-top-sm: 0;
	--ck-text-adjustment-left-sm: 0;
}
