:where(.chonkit-root) {
	--ck-current-highlight-color: var(--ck-highlight-color);
	--ck-current-highlight-blend-mode: var(--ck-highlight-blend-mode);
	--ck-current-shadow-color: var(--ck-shadow-color);
	--ck-current-shadow-blend-mode: var(--ck-shadow-blend-mode);
	--ck-current-drop-shadow-opacity-multiplier: 1;
}
